body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1586880234202-32a56790c681?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80') bottom no-repeat;
    background-size: auto;
    flex-direction: column;
    margin: 0;
}

header p {
    margin: -70px -410px 0px 0px;
}

h1 {
    color: #C1164F;
    font-size: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*text-shadow: black 1px 1px 0;*/
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0,
                 #cad5e2 5px 5px 0;
}

h3{
    color: #C1164F;
    font-size: 2rem;
    margin: auto;
    padding: inherit;
}

.news {
    /*background-color: #fff;*/
    background-image: radial-gradient(#22c1c3, #fdbb2d);
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

h2.New::after {
    content: ' *New';
    color: #F00;
    font-style: italic;
}

.article-meta {
    color: rgba(52, 65, 79, 0.91);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article:nth-child(even) {
    background-color: hsla(0, 67.5%, 84.3%, 0.49);
}

footer {
    background-color: #3c2905;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: Georgia, 'Times New Roman', Times, serif;
}